/*
 * (c) Copyright 2016 WU. All Rights Reserved. 
 */
/*  reset    */
body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,p,form{
	margin:0;
	padding:0;
	}
body{ 
	font:12px/1.5 tahoma,'\5b8b\4f53',sans-serif;
	padding-top:42px; 
	background:#000;
	}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	}
em,b{
	font-style:normal;
	}
a{
	text-decoration:none;
	cursor: pointer;
	}
a:hover{
	font-weight: bolder;
	text-decoration:underline;
	}
img{
	border:0;
	}
button,input,select,textarea{
	font-size:100%;
	outline:none;
	}
table{
	border-collapse:collapse;
	border-spacing:0;
	}
td,th,ul,ol{
	padding:0;
	list-style-type:none;
	}
.clearfix:after{
	content:"\0020";
	height:0; 
	display:block; 
	clear:both;
	zoom:1;
	}
.hidden{
	display:block;
	width:0;
	height:0;
	overflow:hidden;
	}
.wrap{
	width:100%; 
	height:2345px;
	overflow: hidden;
	}

/*  common                                                     */

.d_common{
	width: 940px;
	margin-left:190px;
}
/*HEADER                                                */
.wrap .header{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 40px;
	z-index: 2;
	background-color: #fff;
}
.wrap .header li{
	float: left;
}
.d_common .h_bg{
	height: 40px;
	background-image: url(../img/h_bg.png);
	overflow: hidden;	
}
.d_common .h_b1{
	width: 175px;
	background-position: 0px 0px;	
}
.d_common .h_w{
	border-right: solid #000 1px;
	border-left: solid #000 1px;
	cursor:pointer;
	height: 40px;
	overflow: hidden;		
}
.d_common .h_w span{
	color:#373737;
	height: 20px;
	display:inline-block;
	font-size: 16px;
	line-height: 100%;
	width: 80px;
	padding: 13px 0px;
	margin: 0px;
	text-align: center;
	border-right: solid #000 1px;
	cursor:pointer;
	color:#373737;	
}
.d_common .h_w span:hover{
	font-weight: bolder;
}
.d_common .h_b2{
	width: 188px;
	background-size: 100% auto;
	background-position: 0px -40px;
	margin-right:290px;	
}
.d_common .h_l{
	line-height: 100%;
	padding-top: 10px;
	height: 40px;
	float: right;	
}
.d_common .h_l span{
	color:#388ddf;
	cursor:pointer;
}
.d_common .h_l span:hover{
	text-decoration: underline;
	font-weight: bolder;
}
/*CONTENT                                             */
.d_common .c_l_t{
	display: block;
	padding:10px 0px 0px 75px;
	margin-top: 50px;
	font-size: 32px;
	background-image: url(../img/c_l.png);
	background-repeat: no-repeat;
	font-weight: bolder;
	height: 55px;
	margin-bottom: 10px;
}
.d_common .c_l_p{
	font-weight: bold;	
	font-size: 16px;
	line-height: 100%;
	white-space: nowrap;
}

.good{
	float: right;
	position: absolute;
	height: 50px;
	width: 50px;
	background-repeat: no-repeat;
	background-size: 80% 80%;
	background-position: center center;
	background-image: url(../img/good.png);	
}
	
.d_common .good{
	margin-left: 133px;
	margin-top: -170px;	
}
.c_d4_g .good{
	margin-left: 66px;
	margin-top: -111px;	
}		
.d_common #c_g{
	margin-top: -30px;
}
.d_common .c_g{
	cursor: pointer;
	float: left;	
	display: block;	
	background-image: url(../img/c_d_bg.png);
}
.d_common .c_g:hover{
	background-image: url(../img/c_d_bg_h.png);
}
.d_common .c_g_l_b{
	background-position: 0px 0px;
	width:180px;
	height: 155px;
	margin-right:10px;
	margin-top: 50px;
}
.d_common .c_g_l_r{
	width:180px;
	height: 155px;
	background-position: 0px -154px;
	margin-top: 50px;
}
.d_common .c_g .c_g_w_b{
	display: block;
	line-height: 100%;
	width:180px;
	height: 30px;	
	margin-top: 0px;
	padding-top:123px;
	color: #fff;
	text-align: center;
	background-repeat: no-repeat;
	background-image: url(../img/c_icon.png);
}
.d_common .c_g_b_b span{
  	color:#fff;
  	margin: 30px 0px 0px 277px;
  	background-position: center -3px;
  	background-size: 100% auto;
  	background-repeat: no-repeat;
  	background-image: url(../img/c_b.png);		
	cursor: pointer;
	display: block;
	height: 50px;
	float: left;
	font-size:26px;
	width:190px;
	text-align: center;
	line-height: 100%;
	padding-top: 8px;
	color: #fff;
	font-weight: bolder;	
}
.d_common .c_g_b_b span:hover{
	font-weight: bolder;
  	background-image: url(../img/c_b_h.png);		
}


/*FOOTER                                            */
.wrap .footer{
	width: 100%;
	position:absolute;
	top: 2218px;
	bottom: 0px;
	height: 170px;
	z-index: 2;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image:url(../img/f_bg.png);
}
.wrap .footer a{
	text-align: center;
	color: #1463a2;
	font-size: 12px;
}
.wrap .footer .f_p_f{
	display: block;
	margin:90px auto 0 auto;	
}